body {
    max-width: 720px;
}
form {
  margin-top: 15px;
}

.log {
    overflow-y: scroll;
    border: 1px solid #ededed;
    padding: 10px;
}

.well {
  display: table;
}

.func{
    top: 80%;
    width: 100%;
    display: inline-block;
}

.func > textarea {
    float: left;
    display: block;
    width: 70%;
}

.func > input {
    float: left;
    display: block;
    height: 74px;
}
